
<script src="/static/scripts/jquery-3.2.1.min.js"></script>
<script src="/static/scripts/popper.js"></script>
<script src="/templates/default/bootstrap-4.0.0-beta/js/bootstrap.js"></script>
<script src="/static/scripts/md5.js"></script>
<script src="/static/scripts/segfault.js"></script>


<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.js"></script>




</body>
</html>
