    <button id="modalalert" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#modalAlertDiv">Open Modal</button>
  </div><!-- end of canvas -->


  <div class="footer" class="bg-light">
    <div class="container">
      <div class="left" style="font-size: 1.4em;"><a href="http://github.com/gentlespoon/SegFault"><?=$config['sitename']?></a><br> 2017 &copy; SegFault@UCR</div>
      <div class="right"><?=$GLOBALS['queryCount']?> queries processed in <?=$_runtime?> second(s)<br><?=$_SERVER['SERVER_SOFTWARE']?><br><?=$_SERVER['HTTP_USER_AGENT']?></div>
    </div>
  </div>



<!-- Modal -->
  <div class="modal fade" id="modalAlertDiv" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="modalalert-title" class="modal-title">[TITLE]</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modalalert-content" class="modal-body">
          [CONTENT]
        </div>
        <!-- 
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        -->
      </div>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/static/scripts/md5.js"></script>
  <script src="/static/scripts/segfault.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <!-- include TinyMCE cloud deployment -->
  <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- highlightjs for code syntax highlighting -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/<?=$GLOBALS['curUser']['syntaxhlpref']?>.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    $('pre > code').each(function() {
      $(this).addClass($(this).parent().attr("class"));
    });
    hljs.initHighlightingOnLoad();
  </script>


<?php if (!$_SESSION['visitCounter']) : ?>
  <script>
    $(document).ready(function() {
      modalalert("Welcome to sFault.net", `
  <p>This is your first visit to sFault.net. This alert will only show once. You can see this alert again by signing out or start a new session.</p>
  <p>sFault.net is the project of UCR CS180 team NULL. sFault.net is still in development.</p>
    `);
    });
  </script>
<?php endif ?>


</body>
</html>
