
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/" title="<?=$settings['sitename']?>">
      <img src="/static/images/brand.png" width="30" height="30"  class="d-inline-block align-top"  alt="">
      <?=$settings['sitename']?>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div id="sf_navigation"> -->
      <ul class="navbar-nav">
        <li class="nav-item <?=$output['activeNav']['questions']?>">
          <a class="nav-link" href="/questions">Questions <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <?=$output['activeNav']['jobs']?>">
          <a class="nav-link disabled" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item <?=$output['activeNav']['tags']?>">
          <a class="nav-link" href="/tags">Tags</a>
        </li>
        <li class="nav-item <?=$output['activeNav']['member']?>">
          <a class="nav-link" href="/member">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/gentlespoon/SegFault" target="_blank">GitHub</a>
        </li>
      </ul>
      <!-- </div> -->


      <form class="form-inline my-2 my-lg-0 ml-auto" action="/questions/search" method="get">
        <input class="form-control mr-sm-2" name="keyword" type="text" value="<?php if (array_key_exists('keyword', $_GET)) : echo $_GET['keyword'] ; endif ?>" placeholder="Search" aria-label="Search" autocomplete="off">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <script>
      var redirectURI = "<?=$_SERVER['REQUEST_URI']?>";
      </script>
<?php if ($_SESSION['uid'] == 0) : ?>
      <button type="button" class="btn btn-light ml-sm-2 loginBtn">Sign In</button>
      <button type="button" class="btn btn-secondary ml-sm-2 registerBtn">Sign Up</button>
<?php else : ?>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <?=$member['username']?>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/member/modprofile">Edit Profile</a>
            <a class="dropdown-item" href="/member/logout">Log Out</a>
          </div>
        </li>
      </ul>
<?php endif ?>

    </div>
  </div>
</nav>




<div class="container" id="canvas">

  <?php foreach ($output['alert'] as $k => $alert) : ?>
    <div class="alert <?=$alert[1]?>"><?=$alert[0]?></div>
  <?php endforeach ?>
