<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><?php if (array_key_exists("title", $GLOBALS['output'])) : echo $GLOBALS['output']['title']." - "; endif ?><?=$config['sitename']?></title>
  <?=$redirect?>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="/static/images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"><link rel="stylesheet" href="/templates/default/css/style.css">
</head>
<body>


  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/" title="<?=$config['sitename']?>">
        <img src="/static/images/brandingImage.png" width="270" height="30" class="d-inline-block align-top"  alt="<?=$config['sitename']?>" title="<?=$config['sitename']?>">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div id="sf_navigation"> -->
        <ul class="navbar-nav">
          <li class="nav-item <?=$GLOBALS['output']['activeNav']['questions']?>">
            <a class="nav-link" href="/questions">Questions <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item <?=$GLOBALS['output']['activeNav']['jobs']?>">
            <a class="nav-link disabled" href="/jobs">Jobs</a>
          </li> -->
          <li class="nav-item <?=$GLOBALS['output']['activeNav']['tags']?>">
            <a class="nav-link" href="/tags">Tags</a>
          </li>
          <li class="nav-item <?=$GLOBALS['output']['activeNav']['member']?>">
            <a class="nav-link" href="/member">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gentlespoon/SegFault" target="_blank">GitHub</a>
          </li>
        </ul>
        <!-- </div> -->


        <form class="form-inline my-2 my-lg-0 ml-auto" action="/questions/search" method="get">
          <input class="form-control mr-sm-2" name="keyword" type="text" value="<?php if (array_key_exists('keyword', $_GET)) : echo $_GET['keyword'] ; endif ?>" placeholder="Search" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <script>
        var redirectURI = "<?=$_SERVER['REQUEST_URI']?>";
        </script>
<?php if ($_SESSION['uid'] == 0) : ?>
        <button type="button" class="btn btn-light ml-sm-2 loginBtn">Sign In</button>
        <button type="button" class="btn btn-secondary ml-sm-2 registerBtn">Sign Up</button>
<?php else : ?>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="avatar-32" src="<?=$GLOBALS['curUser']['avatar']?>" title="<?=$GLOBALS['curUser']['username']?>" alt="<?=$GLOBALS['curUser']['username']?>">
              
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> -->
              <ul class="dropdown-menu dropdown-menu-sw">
                <li class="dropdown-item">Signed in as:<br /><b><?= $GLOBALS['curUser']['username'] ?></b></li>
                <li class="dropdown-divider"></li>
                <a href="/member/profile?uid=<?=$GLOBALS['curUser']['uid']?>"><li class="dropdown-item">Your Profile</li></a>
                <a href="/questions/search/?uid=<?=$GLOBALS['curUser']['uid']?>"><li class="dropdown-item">Your Questions</li></a>
                <a href="/questions/search/?uid=<?=$GLOBALS['curUser']['uid']?>"><li class="dropdown-item">Your Answers</li></a>
                <a href="/faq"><li class="dropdown-item">Help</li></a>
                <li class="dropdown-divider"></li>
                <a href="/member/logout"><li class="dropdown-item">Log Out</li></a>
              </ul>
            <!-- </div> -->
          </li>
          <li class="nav-item dropdown">
            <button id="notification" type="button" class="btn btn-default">-</button>
          </li>
        </ul>
<?php endif ?>

      </div>
    </div>
  </nav>




  <div class="container" id="canvas">

<?php foreach ($GLOBALS['output']['alert'] as $k => $alert) : ?>
      <div class="alert <?=$alert[1]?>"><?=$alert[0]?></div>
<?php endforeach ?>
