<?php if ($action=="register") : ?>
  <div>
    <form method="post" id="regForm" action="/member/register?redirect=<?=$_GET['redirect']?>" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="regUsername" class="col-form-label"><?=$lang['username']?> (without AJAX)</label>
          <input type="text" class="form-control" id="regUsername" name="username" placeholder="<?=$lang['username']?>" autocomplete="off">
          <small id="regUsernameHint" class="form-text text-danger"></small>
        </div>
        <div class="form-group col-md-6">
          <label for="regEmail" class="col-form-label"><?=$lang['email']?> (with AJAX)</label>
          <input type="email" class="form-control" id="regEmail" name="email" placeholder="<?=$lang['email']?>" autocomplete="off">
          <small id="regEmailHint" class="form-text text-danger"></small>
        </div>
        <div class="form-group col-md-6" id="passwordDiv">
          <label for="regPassword" class="col-form-label"><?=$lang['password']?></label>
          <input type="password" class="form-control" id="regPassword" name="password" placeholder="<?=$lang['password']?>" autocomplete="off">
          <small id="regPasswordHint" class="form-text text-danger"></small>
        </div>
        <div class="form-group col-md-5" id="passwordDiv2">
          <label for="regPassword2" class="col-form-label"><?=$lang['password2']?></label>
          <input type="password" class="form-control" id="regPassword2" placeholder="<?=$lang['password2']?>" autocomplete="off">
          <small id="regPassword2Hint" class="form-text text-danger"></small>
        </div>
        <div class="form-group col-md-1" id="passwordDiv">
          <label for="toggleShowRegPasswordBtn" class="col-form-label"><?=$lang['visible']?></label>
          <button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off" id="toggleShowRegPasswordBtn" style="width: 100%;">
            😑
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" checked="checked" id="agreeCheckbox"> By registering, you agree to the privacy policy and terms of service.
          </label>
          <small id="regAgreementHint" class="form-text text-danger"></small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="regFormSubmit"><?=$lang['register']?></button>
      <span class="right">Already have an account?
        <button type="button" class="btn btn-light ml-sm-2 loginBtn">Sign In</button>
      </span>
    </form>
  </div>
<?php endif ?>






<?php if ($action=="login") : ?>
  <div>
    <form method="post" id="loginForm" action="/member/login?redirect=<?=$_GET['redirect']?>">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="loginUsername" class="col-form-label"><?=$lang['username']?></label>
          <input type="text" class="form-control" id="loginUsername" name="username" placeholder="<?=$lang['username']?>">
        </div>
        <div class="form-group col-md-11" id="passwordDiv">
          <label for="loginPassword" class="col-form-label"><?=$lang['password']?></label>
          <input type="password" class="form-control" id="loginPassword" name="password" placeholder="<?=$lang['password']?>">
        </div>
        <div class="form-group col-md-1" id="passwordDiv">
          <label for="toggleShowLoginPasswordBtn" class="col-form-label"><?=$lang['visible']?></label>
          <button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off" id="toggleShowLoginPasswordBtn" style="width: 100%;">
            😑
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="loginFormSubmit"><?=$lang['login']?></button>
      <span class="right">Haven't got an account?
        <button type="button" class="btn btn-light ml-sm-2 registerBtn">Sign Up</button>
      </span>
    </form>
  </div>
<?php endif ?>








<?php if ($action=="modprofile") : ?>
  <div>
    <form method="POST" action="/member/modprofile" id="modprofileForm">
      <div class="form-row">
<?php foreach($member['fields'] as $k => $v) : ?>
        <div class="form-group col-md-6">
          <label for="modprofile<?=$k?>" class="col-form-label"><?=$lang[$k]?></label>
          <input id="modprofile<?=$k?>" type="text" class="form-control" id="loginUsername" name="<?=$k?>" placeholder="<?=$lang[$k]?>" value="<?=$v?>">
        </div>
<?php endforeach ?>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default btn-primary" value="<?=$lang['submit']?>">
      </div>
    </form>
  </div>
<?php endif ?>














<?php if ($action=="") : ?>
  <div>
    <table class="table table-responsive">
      <thead>
<?php foreach ($output['memberlist'][1] as $k=>$v) :?>
        <td><?=$lang[$k]?></td>
<?php endforeach ?>
      </thead>
      <tbody>
<?php foreach ($output['memberlist'] as $k => $v) : ?>
        <tr>
<?php foreach ($v as $k=>$c) :?>
<?php if ($k == "avatar") : ?>
          <td><img class="avatar-32" src="<?=$c?>"></td>
<?php elseif ($k == "username") : ?>
          <td><a href="/member/profile/<?=$v['uid']?>"><?=$c?></a></td>
<?php else : ?>
          <td><?=$c?></td>
<?php endif ?>
<?php endforeach ?>
        </tr>
<?php endforeach ?>
      </tbody>
    </table>
  </div>
<?php endif ?>
