<div class="row">


  <div class="col-sm-12 col-md-3 col-lg-2" id="sidebar">
    <!-- <div class="sidebarItem"> -->
<?php if ($_SESSION['uid']) : ?>
    <a href="/questions/advice" class="btn btn-primary ml-sm-2 askBtn">Ask Question</a>
<?php else : ?>
    <button class="btn btn-primary ml-sm-2 loginBtn askBtn">Ask Question</button>
<?php endif ?>
    <!-- </div> -->
<?php if ($_SESSION['uid']) : ?>
    <div class="sidebarItem">
      <b>Your FavTags</b>
      <div class="" id="favTags">
<?php foreach ($GLOBALS['output']['favTags'] as $tagid => $taginfo) : ?><a href="/questions/search?tag=<?=$tagid?>"><span class="badge badge-dark favTag"><?=$taginfo['tagname']?></span></a><?php endforeach ?>
      </div>
      <div class="" id="favTagsMan">
        <a href="/tags/manage">Manage FavTags</a>
      </div>
    </div>
<?php else : ?>
    <div class="sidebarItem">
      <a href="javascript:void();" class="loginBtn">Sign In</a> to see your favorite tags.
    </div>
<?php endif ?>
  </div>


  <div class="col-sm-12 col-md-9 col-lg-10" id="maincanvas">








<?php if ($action == "search") : ?>

    <div class="question-summary">
      <h3>Questions</h3>
    </div>
    <div class="questions">
<?php foreach ($GLOBALS['output']['threads'] as $k => $v) : ?>
      <div class="question-summary">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12">
            <a href="/questions/viewthread/<?= $v['tid'] ?>"><h5><?= $v['title'] ?></h5></a>
            <div>Tags:
<?php foreach ($v['tags'] as $tag) : ?>
              <a href="/questions/search?tag=<?=$tag?>"><span class="badge badge-dark"><?=$GLOBALS['output']['tags'][$tag]['tagname']?></span></a>
<?php endforeach ?>
            </div>
            <p>
              <?=$v['content']?>
            </p>
          </div>
          <div class="row col-lg-4 col-md-5 col-sm-12 questions-author">
            <div class="authorBar">
              <div class="title">Q</div>
              <div class="avatar"><img class="avatar-40" src="<?=$v['avatar']?>"></div>
              <div class="author">
                <a href="/member/profile?uid=<?=$v['uid']?>">
                  <?= $v['username'] ?>
                </a><br><?= $v['sendtime'] ?>
              </div>
            </div>
<?php if (!empty($v['lastreply'])) : ?>
            <div class="authorBar">
              <div class="title">A</div>
              <div class="avatar"><img class="avatar-40" src="<?=$v['lastreply']['avatar']?>"></div>
              <div class="author">
                <a href="/member/profile?uid=<?=$v['lastreply']['uid']?>">
                  <?=$v['lastreply']['username']?>
                </a><br><?=$v['lastreply']['sendtime']?>
              </div>
            </div>
<?php endif ?>
          </div>
        </div>
      </div>
<?php endforeach ?>
<script>
  var totalQuestions = <?=$GLOBALS['output']['threadCount']?>;
  var currentQuestions = 20;
  var searchConditions = "";
</script>
<?php if ($GLOBALS['output']['threadCount'] > 20) : ?>
      <div>
        <button id="loadMoreQuestions" type="button" class="col-md-12 btn btn-light">Load more questions (<span id="currentQuestions">20</span> of <?=$GLOBALS['output']['threadCount']?>)</button>
      </div>
<?php endif ?>
    </div>








<?php elseif ($action == "viewthread") : ?>

    <!-- THREAD -->
    <div class="question-summary">
      <a href="/questions/viewthread/<?=$GLOBALS['output']['thread']['tid']?>"><h3><?=$GLOBALS['output']['thread']['title']?></h3></a>
      <?php if($GLOBALS['output']['thread']['open'] > 1) echo "[LOCKED]"; ?> 
    </div>
    <div class="question-summary">
      Tags:
<?php foreach ($GLOBALS['output']['thread']['tags'] as $tagid) : ?>
        <a href="/questions/search?tag=<?=$tagid?>"><span class="badge badge-dark"><?=$GLOBALS['output']['tags'][$tagid]['tagname']?></span></a>
<?php endforeach ?>
    </div>
    <div class="questions">
      <!-- THREAD content -->
      <div class="question-content">
        <div>
          <?=$GLOBALS['output']['thread']['content']?>
        </div>
        <div class="question-content-author">
          <div class="operationBar">
            <a class="vote"  onclick="vote('upvote', <?=$GLOBALS['output']['thread']['tid']?>, 0)">
              <div class="voteBtn badge badge-success">👍 <span id="upvote-<?=$GLOBALS['output']['thread']['tid']?>-0"><?=$GLOBALS['output']['thread']['upvote']?></span></div>
            </a>
            <a class="vote" onclick="vote('downvote', <?=$GLOBALS['output']['thread']['tid']?>, 0)">
              <div class="voteBtn badge badge-danger">👎 <span id="downvote-<?=$GLOBALS['output']['thread']['tid']?>-0"><?=$GLOBALS['output']['thread']['downvote']?></span></div>
            </a>
<?php if($GLOBALS['output']['thread']['uid'] == $GLOBALS['curUser']['uid'] || $GLOBALS['curUser']['gid'] >= 2) { ?>
            <button class="btn btn-secondary" onclick="RemoveThread(<?=$GLOBALS['output']['thread']['tid']?>)">Remove</button>
            <button class="btn btn-secondary" onclick="edit('thread')">Edit</button>
<?php } ?>
<?php if($GLOBALS['curUser']['gid'] >= 2) { ?>
            <button class="btn btn-secondary" onclick="LockThread(<?=$GLOBALS['output']['thread']['tid']?>)">Lock</button>
<?php } ?>
          </div>
          <div class="authorBar">
            <div class="avatar">
              <img class="avatar-40" src="<?=$GLOBALS['output']['thread']['avatar']?>">
            </div>
            <div class="author">
              <a href="/member/profile?uid=<?=$GLOBALS['output']['thread']['uid']?>">
                <?=$GLOBALS['output']['thread']['username']?>
              </a><br><?=$GLOBALS['output']['thread']['sendtime']?>
            </div>
          </div>
        </div>
      </div>
      <div id="editthread" style="display:none;">
        <textarea id="threadedit"><?=$GLOBALS['output']['thread']['content']?></textarea>
        <button class="btn btn-primary" onclick="EditThread(<?=$GLOBALS['output']['thread']['tid']?>)">Edit</button>
        <hr />
      </div>
      
      <!-- POSTS content-->
      <div id="question-answers">
      </div>
<script>
  var totalAnswers = <?=$GLOBALS['output']['postCount']?>;
  var currentAnswers = 0;
  var answersEachLoad = 3;
  var tid = <?=$GLOBALS['output']['thread']['tid']?>;
</script>
<!-- <?php if ($GLOBALS['output']['postCount'] > 0) : ?> -->
      <div>
        <button id="loadMoreAnswers" type="button" class="col-md-12 btn btn-light">Load more answers (<span id="currentAnswers">0</span> of <?=$GLOBALS['output']['postCount']?>)</button>
      </div>
<!-- <?php endif ?> -->
    </div>
    
    <hr />

    <div class="question-reply">
<?php if ($GLOBALS['curUser']['uid']) : ?>
  <?php if ($GLOBALS['curUser']['newpost']) : ?>
    <?php if ($GLOBALS['output']['thread']['open'] <= $GLOBALS['curUser']['gid']) : ?>
      <form id="newPostForm" method="post" action="/questions/answer">
        <div class="form-group">
          <!-- <div id="summernote"></div>
          <input id="hiddenEditedHTML" type="hidden" name="editedHTML" value="" /> -->
          <textarea id="tinyMCE" name="editedHTML"></textarea>
        </div>
        <div class="form-group">
          <input type="hidden" name="tid" value="<?=$GLOBALS['output']['thread']['tid']?>">
          <input class="btn btn-primary" type="submit" value="<?=$GLOBALS['lang']['new-post-send']?>">
        </div>
      </form>
    <?php endif ?>
  <?php else : ?>
      You do not have permission to answer question.
  <?php endif ?>
<?php else : ?>
        <button class="btn btn-primary ml-sm-2 loginBtn">Sign In</button> to answer this question.
<?php endif ?>
    </div>










<?php elseif ($action == "advice") : ?>

    <div>
      <h3>How to Ask</h3>
    </div>


    <div class="content-page">
      <p>Welcome to SegFault!</p>
      <p>We’d love to help you, but the reality is that not every question gets answered. To <b>improve your chances</b>, here are some tips:</p>
      <h5>Search, and research</h5>
      <p>Have you <b><a href="/search">thoroughly searched for an answer</a></b> <i>before</i> asking your question? Sharing your research helps everyone. Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps <i>you</i> get a more specific and relevant answer!</p>
      <div class="ask-advice-search-container">
        <input type="text" value="" class="search-title" autocomplete="off">
        <input type="button" value="Search" class="search-button js-gps-track" data-gps-track="howtoask.searchclick">
        <div id="question-suggestions"></div>
        <p>Try our more <a href="/search" class="search-link js-gps-track" data-gps-track="howtoask.searchclick">advanced search</a>!</p>
      </div>
      <h5>Be on-topic</h5>
      <p>Our community is defined by a <a href="/help/on-topic">specific set of topics in the help center</a>; please stick to those topics and <a href="/help/dont-ask">avoid asking for opinions or open-ended discussion</a>. If your question is about the site itself, ask on our <a href="https://meta.stackoverflow.com">meta-discussion site</a>. If you’re looking for a different topic, it might be covered on another <a href="https://stackexchange.com/sites">Stack Exchange site</a>.</p>
      <h5>Be specific</h5>
      <p>If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.</p>
      <h5>Make it relevant to others</h5>
      <p>We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.</p>
      <h5>Keep an open mind</h5>
      <p>The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.</p>
      <form id="theForm" method="post" action="/questions/ask">
      <input type="checkbox" name="advised" id="advised" value="advised" class="js-gps-track" data-gps-track="howtoask.thanksclick">
      <label for="advised">&nbsp; thanks, I will keep these tips in mind when asking</label>
      <div style="text-align: right; width: 100%;" id="proceed">
         <script>
             $(function() {
                 $("#proceed").append("<a onclick=\"$('#theForm').submit();\" style=\"color:#888\" class=\"js-gps-track\" data-gps-track=\"howtoask.proceedclick\">" + 'proceed' + " &raquo;</a>");
             });
             StackExchange.using("gps", function() {
                 StackExchange.gps.track("howtoask.visit");
             });
         </script>
         <noscript>
             &lt;input type="submit" value="Proceed &amp;raquo;" class="js-gps-track" data-gps-track="howtoask.proceedclick"&gt;
         </noscript>
        <a class="btn btn-primary" href="/questions/asking">Continue</a>
      </div>
      </form>
    </div>








<?php elseif ($action == "asking") : ?>

  <form id="newThreadForm" method="post" action="/questions/asked">
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-6">
        <label for="newThreadTitle">Title</label>
        <input type="text" class="form-control" id="newThreadTitle" aria-describedby="newThreadTitle" placeholder="Briefly describe your question" name="title" required>
        <small id="newThreadTitleHint" class="form-text text-muted">Accurate title helps others understand your question.</small>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="newThreadTagSearchbox">Tags
          <span id="tagsList">
          </span>
        </label>
        <input type="hidden" id="hiddenTags" name="tags" value="" />
        <input type="text" class="form-control" id="newThreadTagSearchbox" aria-describedby="newThreadTagSearchbox" placeholder="Search for tags" list="tagList">
        <datalist id="tagList">
<?php foreach ($GLOBALS['output']['tags'] as $tagid => $taginfo) : ?>
          <option value="<?=$taginfo['tagname']?>" tagid="<?=$tagid?>" />
<?php endforeach ?>
        </datalist>
        <small id="newThreadTagSearchboxHint" class="form-text text-muted">Choosing relevant tags will put your question in an accurate category.</small></small>
      </div>

    </div>
    <div class="form-group">
      <!-- <div id="summernote"></div>
      <input id="hiddenEditedHTML" type="hidden" name="editedHTML" value="" required/> -->
      <textarea id="tinyMCE" name="editedHTML"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit"><?=$GLOBALS['lang']['new-thread-send']?></button>
    </div>
  </form>



<?php endif ?>








  </div> <!-- end maincanvas -->

</div>
