<?php
$row = 0;
foreach ($output['tags'] as $tagid => $taginfo) :
  $row++;
  if ($row == 1) :
?>
    <div class="card-group">
<?php endif ?>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a href="/questions/search?tag=<?=$tagid?>"><span class="badge badge-dark"><?=$taginfo['tagname']?></span></a> × <?=$taginfo['count']?>
        </div>
        <p class="card-text">
          <?=$taginfo['description']?>
        </p>
      </div>
    </div>
<?php
  if ($row == 3) :
    $row = 0;
?>
  </div>
<?php endif ?>
<?php endforeach ?>
