<?php
$row = 0;
foreach ($GLOBALS['output']['tags'] as $tagid => $taginfo) :
  $row++;
  if ($row == 1) :
?>
  <div class="card-group">
<?php endif ?>
  <div class="col-sm-12 col-md-6 col-lg-4 tagcard">
    <div class="card">
        <div class="card-body">
          <div class="card-title">
            <a href="/questions/search?tag=<?=$tagid?>"><span class="badge badge-dark"><?=$taginfo['tagname']?></span></a> × <?=$taginfo['count']?>
          </div>
          <div class="card-text">
            <?=$taginfo['description']?>
          </div>
          <!-- if user is subscribed to tag, show unsubscribe button. else, show subscribe button.-->
          <?php if($GLOBALS['curUser']['uid'] != 0){ ?>
			  <?php if($taginfo['isFav']){ ?>
				  <button type="button" class = "btn btn-danger" onclick="remfavtag(<?=$tagid?>)">Unsubscribe</button>
			  <?php } else { ?>
				  <button type="button" class = "btn btn-success" onclick="addfavtag(<?=$tagid?>)">Subscribe</button>
			  <?php } ?>
		  <?php } ?>
      </div>
      </div>
    </div>
<?php if ($row == 3) : $row = 0; ?>
  </div>
<?php endif ?>
<?php endforeach ?>


<?php if ($row != 0) : ?>
  </div>
<?php endif ?>
