html {
  /*font-family: monospace !important;*/
  position: relative;
  min-height: 100%;
  font-size: 0.88em;
}

.btn {
  cursor: pointer;
}

#canvas {
  margin: 2em auto 8em auto;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 2em;
  height: 100px;
  background-color: #F8F9FA;
  font-size: 0.7em;
  width: 100%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.hidden {
  display: none;
}
