html
{
    font-size: .85em;

    position: relative;

    min-height: 100%;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
}

a
{
    cursor: pointer;
}


.btn
{
    cursor: pointer;
}

#canvas
{
    margin-top: 2em;
    padding-bottom: 12em;
}

#sidebar
{
    /*background-color: #FFF8DC;*/
    padding: 1em;

    border-right: 1px solid #e4e6e8;
}

.footer
{
    font-size: .7em;

    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 2em 0;

    background-color: #f8f9fa;
}

.left
{
    float: left;

    text-align: left;
}

.right
{
    float: right;

    text-align: right;
}

.hidden
{
    display: none;
}


.question-summary
{
    padding: 2em 0 4em 0;

    word-wrap: break-word;
    word-break: break-all;

    border-bottom: 1px solid #e4e6e8;
}





.operationBar
{
    display: inline-block;
}
.modOperationBar
{
    display: inline-block;
}

.voteBtn
{
    line-height: 2em;

    min-width: 5em;
    max-width: 8em;

    transition: opacity, .5s;
}
.voteBtn:hover
{
    transition: opacity .5s;

    opacity: .6;
}
.voteBtn:active
{
    transition: background-color .5s;

    background-color: black;
}

.authorBar
{
    display: inline-block;
    float: right;

    margin-top: 5px;
    /*border: 1px solid #e4e6e8;*/
}

.authorBar > .avatar
{
    display: inline-block;
    float: left;
    /*border: 1px solid #e4e6e8;*/
}
.authorBar > .author
{
    display: inline-block;
    float: left;

    padding-left: .5em;
    /*border: 1px solid #e4e6e8;*/
}
.authorBar > .title
{
    line-height: 40px;

    display: inline-block;
    float: left;

    width: 2em;
    padding-left: .5em;
    /*border: 1px solid #e4e6e8;*/
}

.badge
{
    font-size: 100%;
}


.question-content
{
    position: relative;

    min-height: 15em;
    padding: 1em 0 5em 0;

    word-wrap: break-word;
    word-break: break-all;

    border-bottom: 1px solid #e4e6e8;
}

.question-content-author
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 12px 0;
}

.removeTag
{
    display: inline-block;

    width: 1em;
    height: 1em;
}
.removeTag:hover
{
    background-color: #ff0000;
}

#tagsList > .badge, #advTagsList > .badge, #usernamesList > .badge, #keywordsList > .badge
{
    margin-right: 5px;
}

.loginBtn
{
    /*color: white !important;*/
}



.sidebarItem
{
    margin-top: 1em;
    padding: .5em;

    transition: background-color, .5s;

    border-radius: .25rem;
    background-color: #f8f9fa;
}
.sidebarItem:hover
{
    transition: background-color, .5s;

    background-color: #e8e9ea;
}

.favTag
{
    margin: .2em;
    padding: .5em 1em;
}

.askBtn
{
    width: 100%;
    margin-left: 0 !important;
}

.avatar-32
{
    width: 32px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: .25rem;
}

.avatar-40
{
    width: 40px;
    height: 40px;

    border: 1px solid #000000;
    border-radius: .25rem;

    opacity: 0.4;
}

#notification
{
    width: 32px;
    height: 32px;
    margin: 6.5px 0;
}

.tagcard {
    padding: 5px;
}

.card-text {
    height: 4em;
}
